fastapi
uvicorn
sqlalchemy
psycopg[binary] #driver para postgres
passlib
bcrypt
alembic #alembic init alembic

#variables del curso de 12 hrs
pydantic_settings 

#prometheus 
prometheus-fastapi-instrumentator